<h2>{{'Title: ' + title}}</h2>

<ul>
  <li *ngFor="let course of courses">{{course}}</li>
</ul>

<!-- bracket interpolation is better for element content binding-->
<!-- <img src="{{imageUrl}}" alt=""> -->
<!-- Similar with, but preferable for attributes to use property sintax binding-->
<!-- <img [src]="imageUrl" alt=""> -->

<!-- <input (keyup)="onKeyUp($event, userName.value)" type="text" #userName> -->
<!-- better, with angular sintax -->
<!-- <input type="text" (keyup.enter)="onKeyUpAngularEnterStyle($event, email.value)" #email> <br> -->
<!-- two way binding -->
<!-- <input type="text" (keyup.enter)="onKeyUpTwoWayBinding()" [(ngModel)]="email">
<br>

<button class="btn btn-warning" [class.active]="isActive" (click)="onSave($event)">Save</button>

<h3>Pipes</h3>
<p>Title: {{course.title | uppercase}}</p>
<p>Students: {{course.students | number}}</p>
<p>Rating: {{course.rating | number:'1.2-2'}}</p>
<p>Price: {{course.price | currency:'LEI':true}}</p>
<p>Realease date: {{course.releaseDate | date:'shortDate'}}</p>

<h3>Custom pipes</h3>
<p>{{text | summary:20}}</p> -->
